* {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #222;
}
.adam {
  background-image: url('/img.png');
  background-size: cover;
  background-position-y: 0px;
  width: 225px;
  height: 475px;
  animation: walk-east 0.8s steps(8) infinite;
}
@keyframes walk-east {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1800px;
  }
}
